@{
    ViewData["Title"] = "Password Change Not Allowed";
}
<div class="alert alert-warning">
    <h4>You cannot change your password too frequently.</h4>
    <p>Your next password change is allowed on: @ViewData["NextChangeDate"]</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home Page</a>
</div>
